/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.shadow-left {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.shadow-side {
    display: inline-block;
    width: 30%;
    margin-left: 4%;
}

.shadow-product {
    display: inline-block;
    width: 30%;
}
